.report-card {
  width: 60%;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  margin: 30px auto 30px auto;
  box-shadow: rgba(4, 34, 227, 0.2) 0px 8px 24px;
}

.report-card button {
  width: 5.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  font-weight: 200;
  justify-items: flex-end;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  transition: background-color 0.5s;

  box-shadow: rgba(7, 7, 199, 0.25) 0px 30px 60px -12px inset,
    rgba(6, 6, 191, 0.3) 0px 18px 36px -18px inset;
}
