.navbar-buttons {
  display: flex;
  width: 80%;
  margin: 30px auto;
  justify-content: center;
}

.navbar-button {
  cursor: pointer;
  margin-left: 30px;
}

.navbar-icon {
  font-size: 30px;
}

.link {
  color: black;
  text-decoration: none;
}

.arrow-hidden {
  display: none;
}
