.App {
  text-align: center;
}

.hidden {
  display: none;
}

.final-report {
  width: 100%;
}

.mobile-screen {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile-screen {
    margin: 20px;
    margin-top: 50px;
    display: block;
    height: 70vh;
  }

  .mobile-screen span {
    color: red;
  }

  .welcome-page-info {
    display: none;
  }

  .header-navbar .navbar-button {
    display: none;
  }
}
